{% extends "base.html" %}

{% block content %}
<section class="pagina">
    <h2>Fale Conosco</h2>
    <form method="POST" class="form-contato">
        <input type="text" name="nome" placeholder="Seu nome" required>
        <input type="email" name="email" placeholder="Seu e-mail" required>
        <input type="text" name="telefone" placeholder="Telefone/WhatsApp">
        <textarea name="mensagem" placeholder="Escreva sua mensagem" required></textarea>
        <button type="submit">Enviar</button>
    </form>
</section>
{% endblock %}
